h1 {
    color: rgb(0, 110, 255);
    background-color: skyblue;
    }
.marin h2 {
    color:cadetblue;
}
body {
    background:
}
.club h1 {
    font-size:52px;
    color:#80BD9E;
    font-family:"游ゴシック";
    background-image:url("./背景1.png");
    height: 300px;
    
}
.club h2 {
    color:#889EC3;
    font-size:26px;
}