.header-container {
    background-image:url(club.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
body {
    background-color:#8497B0;
}
.club p {
    font-size:52px;
    color:#80BD9E;
    font-family:"游ゴシック Light";
    height: 300px;
    width:max-content;
}
.club h2 {
    color:#350DC9;
    font-size:26px;
    font-family:"游ゴシック Light";
}
.club h3 {
    font-size:26px;
    font-family:"游ゴシック Light";
}
.students h2 {
    color:#350DC9;
    font-size:26px;
    font-family:"游ゴシック Light";
}